{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">Swipe Me In</a>
<!--TODO: Text updates here according to user name-->
        <h5 class="text-right text-white">Hello, Miranda</h5>
    </div>
</nav>

<div id="unclaimed_meal" class="container pt-3 mb-3">
  <h5 class="text-left text-white">Claimed Meals</h5>

{% for meal in session['feeder_meals'] %}

  {% if meal.swipe_claimed == True %}

<!--TODO: HIDDEN until user accepts, claimed meals bg, gradient bg-->
<!--TODO: grey bg if unclaimed, red bg if accepted-->
    <div class="col-md-4 p-0 bg-transparent">
        <div class="card bg-danger border-1 mb-3">
            <div class="card-body text-white ">
                <h2 class="card-title">Ratty</h2>
                <p class="card-text">Claimed but not confirmed</p>
            </div>
            <div class="card-body bg-light">
                <p class="card-text">28 min remaining</p>
                <a href="#" class="btn btn-danger text-light">Confirm Swipe</a>
            </div>
        </div>
  {% else %}
    <div class="col-md-4 p-0 bg-transparent">
        <div class="card bg-dark border-1 mb-3">
            <div class="card-body text-white ">
                <h2 class="card-title">Ratty</h2>
                <p class="card-text">Not claimed yet</p>
            </div>
            <div class="card-body bg-light">
                <p class="card-text">28 min remaining</p>
            </div>
        </div>
  </div>
{% endif %}
{% endfor %}
</div>

<!--white bg-->
<!--share meal button-->
<div class="container pt-3 mb-3">
<a href="/feed_details" class="btn btn-danger text-white mb-3">Share a Meal</a>

<!--achievements block-->
<div class="col-md-4 p-0 bg-transparent">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Achievement</h5>
            <p class="card-text">13 meals shared, $65 donated</p>
        </div>
    </div>
</div>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Copyright © Team C. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
